<div id="incluirBeneficiario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title">Beneficiários</h4>
            </div>

            <div class="modal-body">
                <form id="formIncluirBeneficiario" method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="BeneficiarioCPF">CPF:</label>
                                <input required="required" type="text" class="form-control" id="CPFBeneficiario" name="CPFBeneficiario" placeholder="Ex.: 000.000.000-00" maxlength="14">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="BeneficiarioNome">Nome completo:</label>
                                <input required="required" type="text" class="form-control" id="NomeBeneficiario" name="NomeBeneficiario" placeholder="Ex.: João da silva" maxlength="50">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="btnIncluirBeneficiario"></label>
                                <button type="button" class="btn btn-success" id="btnIncluirBeneficiario">Incluir</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <table id="listaBeneficiarios" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">CPF</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <div class="w-100 text-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>